*{
  background-color: black; 
}
.app-container {
  margin: 20px;
  background-color: black; 
  color: white; 
  text-align: center;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid violet; 
  background-color: black; 
  text-align: center;
  justify-content: center;
}

.crypto-table th, .crypto-table td {
  border: 1px solid #d3d3d3; 
  text-align: left;
  color: white; 
}

.crypto-table th {
  background-color: violet;
}

.crypto-table tr:nth-child(even) {
  background-color: black;
}

.negative {
  color: red !important;
}

.positive {
  color: green !important;
}

.coin-image {
  width: 50px;
}
